fglam-devkit-5_6_10-windows-x86_64/schema/messages/messages.10.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2013 Dell Inc.
  ALL RIGHTS RESERVED.
  
  This software is the confidential and proprietary information of
  Dell Inc. ("Confidential Information").  You shall not
  disclose such Confidential Information and shall use it only in
  accordance with the terms of the license agreement you entered
  into with Dell Inc.
  
  DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
  THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
  INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
  NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
  DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
  OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:X-quest.com:glue/messages/10.0"
			xmlns:msgs10="urn:X-quest.com:glue/messages/10.0"
			xmlns:msgs9="urn:X-quest.com:glue/messages/9"
			xmlns:msgs8_1="urn:X-quest.com:glue/messages/8.1"
			xmlns:msgs8="urn:X-quest.com:glue/messages/8"
			xmlns:msgs7="urn:X-quest.com:glue/messages/7"
			xmlns:msgs6="urn:X-quest.com:glue/messages/6"
			xmlns:msgs5="urn:X-quest.com:glue/messages/5"
			xmlns:msgs4="urn:X-quest.com:glue/messages/4"
			xmlns:msgs1_3="urn:X-quest.com:glue/messages/1.3"
			xmlns:msgs1_2="urn:X-quest.com:glue/messages/1.2"
			xmlns:msgs1_1="urn:X-quest.com:glue/messages/1.1"
			xmlns:msgs1_0="urn:X-quest.com:glue/messages/1.0"
			elementFormDefault="qualified">

	<!-- Added in version 5.6.2 (WAVERIDER) -->
	<!-- Added on trunk, June 6, 2011 -->

	<!-- Import the Message 1.0 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/1.0" schemaLocation="messages.1.0.xsd"/>
	<!-- Import the Message 1.1 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/1.1" schemaLocation="messages.1.1.xsd"/>
	<!-- Import the Message 1.2 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/1.2" schemaLocation="messages.1.2.xsd"/>
	<!-- Import the Message 1.3 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/1.3" schemaLocation="messages.1.3.xsd"/>
	<!-- Import the Message 4 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/4" schemaLocation="messages.4.xsd"/>
	<!-- Import the Message 5 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/5" schemaLocation="messages.5.xsd"/>
	<!-- Import the Message 6 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/6" schemaLocation="messages.6.xsd"/>
	<!-- Import the Message 7 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/7" schemaLocation="messages.7.xsd"/>
	<!-- Import the Message 8 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/8" schemaLocation="messages.8.xsd"/>
	<!-- Import the Message 8.1 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/8.1" schemaLocation="messages.8.1.xsd"/>
	<!-- Import the Message 9 XSD -->
	<xsd:import namespace="urn:X-quest.com:glue/messages/9" schemaLocation="messages.9.xsd"/>

	<xsd:element name="downstream-envelope">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msgs10:Envelope">
					<xsd:sequence>
						<xsd:element name="messages" type="msgs10:DownstreamMessages"
									 maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="upstream-envelope">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msgs10:Envelope">
					<xsd:sequence>
						<xsd:element name="messages" type="msgs10:UpstreamMessages"
									 maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="Envelope" abstract="true">
		<xsd:sequence>
			<xsd:element name="headers" type="msgs10:Headers" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<!--
		We are defining the ContentBlock here so that we can identify newly created
		ContentBlock in this schema. We need to know this so that we can add the Message to
		the appropriate UpstreamMessages list
	-->
	<xsd:complexType name="ContentBlock" abstract="true" block="restriction">
		<xsd:annotation>
			<xsd:documentation>
				Extends the msgs1_0:ContentBlock to denote new Content Blocks that have been
				added to the v9 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="msgid" type="msgs1_0:UUID" use="required"/>
		<xsd:attribute name="response-to" type="msgs1_0:UUID" use="optional"/>
		<xsd:attribute name="sequence-key" use="required" type="xsd:long">
			<xsd:annotation>
				<xsd:documentation>
					When the message center is initialized a sequence key will be generated.
					This key will be held by the downstream hosts that will process the message. When
					the downstream hosts see that this value has changed, they will then reset their
					sequence number counters.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sequence-number" use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation>
					Sequence number to denote message instance counts. This can be used to help
					determine if a ordered set of messages is received out of order or if conflicting
					message 'contents' should process only newer instances.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:long">
					<xsd:minExclusive value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<!--
	We are defining the DownstreamContentBlock here so that we can identify newly created
	DownstreamContentBlock in this schema. We need to know this so that we can add the Message to
	the appropriate DownstreamMessages list
	-->
	<xsd:complexType name="DownstreamContentBlock" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="msgs10:ContentBlock"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!--
		We are defining the UpstreamContentBlock here so that we can identify newly created
		UpstreamContentBlock in this schema. We need to know this so that we can add the Message to
		the appropriate UpstreamMessages list
	-->
	<xsd:complexType name="UpstreamContentBlock" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Extends the msgs1_0:UpstreamContentBlock to denote new Upstream Content Block
				based messages that have been added to the v9 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:ContentBlock"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!--
		We are defining the UpstreamAgentBlock here so that we can identify newly created
		UpstreamAgentBlock in this schema. We need to know this so that we can add the Message to
		the appropriate UpstreamMessages list
	-->
	<xsd:complexType name="UpstreamAgentBlock" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Extends the msgs1_0:UpstreamAgentBlock to denote new Upstream Agent Block
				based messages that have been added to the v10 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamContentBlock">
				<xsd:attribute name="agentid" type="msgs1_0:UUID"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UpstreamMessages">
		<xsd:annotation>
			<xsd:documentation>
				Defines all UpstreamMessages that can be handled in this schema version
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs9:UpstreamMessages">
				<xsd:sequence>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v1_0_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v1_1_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v1_2_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v1_3_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v4_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v5_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v6_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v7_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v8_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v8_1_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v9_Extensions"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:UpstreamMessageTypes_v10"
							   maxOccurs="unbounded"
							   minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DownstreamMessages">
		<xsd:annotation>
			<xsd:documentation>
				Defines all DownstreamMessages that can be handled in this schema version
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs9:DownstreamMessages">
				<xsd:sequence>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v1_0_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v1_1_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v1_2_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v1_3_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v4_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v5_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v6_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v7_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v8_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v8_1_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v9_Extensions" maxOccurs="unbounded"
							   minOccurs="0"/>
					<xsd:group ref="msgs10:DownstreamMessageTypes_v10" maxOccurs="unbounded"
							   minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!--
		We are defining the DownstreamAgentBlock here so that we can identify newly created
		DownstreamAgentBlock in this schema. We need to know this so that we can add the Message to
		the appropriate DownstreamMessages list
		-->
	<xsd:complexType name="DownstreamAgentBlock" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamContentBlock">
				<xsd:attribute name="agentid" type="msgs1_0:UUID"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!--
	 Only list elements that are extending an existing UpstreamContentBlock from the
	 1.0 messages schema.
	 -->
	<xsd:group name="UpstreamMessageTypes_v1_0_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing 1.0 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	 Only list elements that are extending an existing UpstreamContentBlock from the
	 1.1 messages schema.
	 -->
	<xsd:group name="UpstreamMessageTypes_v1_1_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing 1.1 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	 Only list elements that are extending an existing UpstreamContentBlock from the
	 1.2 messages schema.
	 -->
	<xsd:group name="UpstreamMessageTypes_v1_2_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing 1.2 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing UpstreamContentBlock from the
		 1.3 messages schema.
		 -->
	<xsd:group name="UpstreamMessageTypes_v1_3_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing 1.3 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing UpstreamContentBlock from the
		 4 messages schema.
		 -->
	<xsd:group name="UpstreamMessageTypes_v4_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v4 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
     Only list elements that are extending an existing UpstreamContentBlock from the
     4 messages schema.
     -->
	<xsd:group name="UpstreamMessageTypes_v5_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v5 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing UpstreamContentBlock from the
		 6 messages schema.
		 -->
	<xsd:group name="UpstreamMessageTypes_v6_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v6 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing UpstreamContentBlock from the
		 7 messages schema.
		 -->
	<xsd:group name="UpstreamMessageTypes_v7_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v7 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
     Only list elements that are extending an existing UpstreamContentBlock from the
     8 messages schema.
     -->
	<xsd:group name="UpstreamMessageTypes_v8_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v7 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing UpstreamContentBlock from the
		 8 messa.1ges schema.
		 -->
	<xsd:group name="UpstreamMessageTypes_v8_1_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v8_1 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
			 Only list elements that are extending an existing UpstreamContentBlock from the
			 9 messages schema.
			 -->
	<xsd:group name="UpstreamMessageTypes_v9_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List UpstreamContentBlock messages that extend existing v9 UpstreamContentBlocks
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	Only list elements that are implementing new UpstreamContentBlock messages.
	-->
	<xsd:group name="UpstreamMessageTypes_v10">
		<xsd:annotation>
			<xsd:documentation>
				List new UpstreamContentBlock messages that have been added to the v10 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="control-remote-agent-query" type="msgs10:AgentControlServiceRemoteAgentQuery"/>
			<xsd:element name="control-remote-host-query" type="msgs10:AgentControlServiceRemoteHostQuery"/>
			<xsd:element name="control-remote-agent-create" type="msgs10:AgentControlServiceRemoteAgentCreate"/>
			<xsd:element name="control-remote-agent-set-state" type="msgs10:AgentControlServiceRemoteAgentSetState"/>
			<xsd:element name="all-agent-status-response" type="msgs10:AllAgentStatusResponse"/>
			<xsd:element name="agent-properties-change" type="msgs10:AgentPropertyChangeRequest"/>
			<xsd:element name="discovery-agent-properties-change"
						 type="msgs10:DiscoveryAgentPropertyChangeRequest"/>
			<xsd:element name="discovery-agent-property-query" type="msgs10:AgentPropertyQueryRequest"/>
		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing DownstreamContentBlock from the
		 1.0 messages schema.
		 -->
	<xsd:group name="DownstreamMessageTypes_v1_0_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing 1.0 DownstreamContentBlock
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
		</xsd:choice>
	</xsd:group>

	<!--
	 Only list elements that are extending an existing DownstreamContentBlock from the
	 1.1 messages schema.
	 -->
	<xsd:group name="DownstreamMessageTypes_v1_1_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing 1.1 DownstreamContentBlock
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	 Only list elements that are extending an existing DownstreamContentBlock from the
	 1.2 messages schema.
	 -->
	<xsd:group name="DownstreamMessageTypes_v1_2_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing 1.2 DownstreamContentBlock
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		 Only list elements that are extending an existing DownstreamContentBlock from the
		 1.3 messages schema.
		 -->
	<xsd:group name="DownstreamMessageTypes_v1_3_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing 1.3 DownstreamContentBlock
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	Only list elements that are implementing new DownstreamContentBlock messages.
	-->
	<xsd:group name="DownstreamMessageTypes_v4_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v4 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	Only list elements that are implementing new DownstreamContentBlock messages.
	-->
	<xsd:group name="DownstreamMessageTypes_v5_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v5 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		Only list elements that are implementing new DownstreamContentBlock messages.
		-->
	<xsd:group name="DownstreamMessageTypes_v6_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v6 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		Only list elements that are implementing new DownstreamContentBlock messages.
		-->
	<xsd:group name="DownstreamMessageTypes_v7_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v6 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		Only list elements that are implementing new DownstreamContentBlock messages.
		-->
	<xsd:group name="DownstreamMessageTypes_v8_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v6 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
		Only list elements that are implementing new DownstreamContentBlock messages.
		-->
	<xsd:group name="DownstreamMessageTypes_v8_1_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v8_1 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	   Only list elements that are implementing new DownstreamContentBlock messages.
	   -->
	<xsd:group name="DownstreamMessageTypes_v9_Extensions">
		<xsd:annotation>
			<xsd:documentation>
				List DownstreamContentBlock messages that extend existing v9 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>

		</xsd:choice>
	</xsd:group>

	<!--
	Only list elements that are implementing new DownstreamContentBlock messages.
	-->
	<xsd:group name="DownstreamMessageTypes_v10">
		<xsd:annotation>
			<xsd:documentation>
				List new DownstreamContentBlock messages that have been added to the v9 schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="control-remote-agent-query-result" type="msgs10:AgentControlServiceRemoteAgentQueryResult"/>
			<xsd:element name="control-remote-agent-create-result" type="msgs10:AgentControlServiceRemoteAgentCreateResult"/>
			<xsd:element name="control-remote-host-query-result" type="msgs10:AgentControlServiceRemoteHostQueryResult"/>
			<xsd:element name="all-agent-status-request" type="msgs10:AllAgentStatusRequest"/>
			<xsd:element name="properties-change"  type="msgs10:AgentPropertyChange"/>
			<xsd:element name="discovery-agent-property-query-response"
						 type="msgs10:AgentPropertyQueryResponse"/>
		</xsd:choice>
	</xsd:group>

	<xsd:complexType name="Headers">
		<xsd:annotation>
			<xsd:documentation>
				Header elements must appear in the order they are
				defined in the schema. Specifically:
				1) an option single "poll"
				2) One or more "host"s and
				3) Zero or more "agent"s
				4) an optional single 'credentialTimestamp'
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs9:Headers"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AllAgentStatusResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns the status of all agents currently installed on this FglAM host. This message
				type is a performance improvement over asking for agent status from each agent individually.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamContentBlock">
				<xsd:sequence>
					<xsd:element name="agent-status" type="msgs1_3:Agent" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AllAgentStatusRequest">
		<xsd:annotation>
			<xsd:documentation>
				Single message to request all agent status info from the remote FglAM
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamContentBlock"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:attributeGroup name="AgentControlServiceAgentQueryAttrs">
		<xsd:attribute name="remote-agent-instance-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-agent-id" type="msgs1_0:UUID" use="optional"/>
		<xsd:attribute name="remote-agent-type" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-agent-package" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-agent-version" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-agent-build-number" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-agent-internal-name" type="xsd:string" use="optional"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="AgentControlServiceHostQueryAttrs">
		<xsd:attribute name="remote-host-id" type="msgs1_0:UUID" use="optional"/>
		<xsd:attribute name="remote-host-display-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-hostname" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-address" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-version" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-build-number" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-os-name" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-os-version" type="xsd:string" use="optional"/>
		<xsd:attribute name="remote-host-os-arch" type="xsd:string" use="optional"/>
	</xsd:attributeGroup>

	<xsd:complexType name="AgentControlServiceRemoteAgentCreate">
		<xsd:annotation>
			<xsd:documentation>
				Submitted by an Agent via the AgentControlService to create a new Agent instance
				on a remote Agent Manager
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamAgentBlock">
				<xsd:attribute name="remote-host-id" type="msgs1_0:UUID" use="required"/>
				<xsd:attribute name="remote-host-display-name" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-agent-type" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-agent-name" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-agent-internal-name" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteAgentCreateResult">
		<xsd:annotation>
			<xsd:documentation>
				Returns the result of the create agent request
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamAgentBlock">
				<xsd:sequence>
					<xsd:element name="agent-control-service-remote-agent" type="msgs1_3:Agent" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="agent-control-service-remote-host" type="msgs6:Host" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="success" type="xsd:boolean" use="required"/>
				<xsd:attribute name="errorMessage" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteAgentSetState">
		<xsd:annotation>
			<xsd:documentation>
				Submitted by an Agent via the AgentControlService to change the state of an agent
				on a remote Agent Manager
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamAgentBlock">
				<xsd:attribute name="remote-host-id" type="msgs1_0:UUID" use="required"/>
				<xsd:attribute name="remote-host-display-name" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-agent-id" type="msgs1_0:UUID" use="required"/>
				<xsd:attribute name="remote-agent-type" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-agent-name" type="xsd:string" use="required"/>
				<xsd:attribute name="remote-state" type="msgs1_3:AgentState" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteAgentQuery">
		<xsd:annotation>
			<xsd:documentation>
				Submitted by a FglAM Agent via the AgentControlService to query the FMS about agents
				that may exist on other FglAM instances
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamAgentBlock">
				<xsd:attributeGroup ref="msgs10:AgentControlServiceAgentQueryAttrs"/>
				<xsd:attributeGroup ref="msgs10:AgentControlServiceHostQueryAttrs"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteAgentQueryResult">
		<xsd:annotation>
			<xsd:documentation>
				Returns the result of the remote agent query
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamAgentBlock">
				<xsd:sequence>
					<xsd:element name="agent-control-service-remote-agents-per-host" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence minOccurs="0" maxOccurs="unbounded">
								<xsd:element name="agent-control-service-remote-agent" type="msgs1_3:Agent" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="remote-host-id" type="msgs1_0:UUID"/>
							<xsd:attribute name="remote-host-display-name" type="xsd:string" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="agent-control-service-remote-hosts" type="msgs6:Host" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteHostQuery">
		<xsd:annotation>
			<xsd:documentation>
				Submitted by a FglAM Agent via the AgentControlService to query the FMS about agents
				that may exist on other FglAM instances
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamAgentBlock">
				<xsd:attributeGroup ref="msgs10:AgentControlServiceHostQueryAttrs"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentControlServiceRemoteHostQueryResult">
		<xsd:annotation>
			<xsd:documentation>
				Returns the result of the remote host query
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamAgentBlock">
				<xsd:sequence>
					<xsd:element name="agent-control-service-remote-host" type="msgs6:Host" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentPropertyChangeRequest">
	  <xsd:annotation>
	    <xsd:documentation>
	      Called by discovery code to change properties on an agent.
	    </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexContent>
	    <xsd:extension base="msgs10:UpstreamAgentBlock">
	      <xsd:choice>
	        <xsd:element name="primaryasp" type="msgs1_2:PrimaryASP" />
	        <xsd:element name="secondaryasp" type="msgs1_2:SecondaryASP" />
	      </xsd:choice>
	    </xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DiscoveryAgentPropertyChangeRequest">
		<xsd:annotation>
			<xsd:documentation>
				Called by discovery code to change properties on an agent.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msgs10:UpstreamContentBlock">
				<xsd:choice>
					<xsd:element name="agent" type="msgs1_0:BridgeAgent" />
					<xsd:element name="primaryasp" type="msgs1_2:PrimaryASP" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentPropertyChange">
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamAgentBlock">
				<xsd:sequence>
					<xsd:element name="primaryasp" type="msgs1_2:PrimaryASP" minOccurs="0" />
					<xsd:element name="secondaryasp" type="msgs1_2:SecondaryASP" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AgentPropertyQueryRequest">
        <xsd:annotation>
            <xsd:documentation>
                Request issued to the server to return a set of properties for an agent.  This is
                mostly used for discovery agents that get/set properties on other agents.  An
                AgentPropertyFetchResponse will be returned by the server.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="msgs10:UpstreamContentBlock">
                <xsd:choice>
                    <xsd:element name="agent" type="msgs1_3:BridgeAgent"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

	<xsd:complexType name="AgentPropertyQueryResponse">
		<xsd:complexContent>
			<xsd:extension base="msgs10:DownstreamContentBlock">
				<xsd:sequence>
					<xsd:element name="agent" type="msgs1_0:BridgeAgent" minOccurs="1" maxOccurs="1" />
					<xsd:element name="primaryasp" type="msgs1_2:PrimaryASP" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
