fglam-devkit-5_6_10-windows-x86_64/schema/credential.repository.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2013 Dell Inc.
  ALL RIGHTS RESERVED.
  
  This software is the confidential and proprietary information of
  Dell Inc. ("Confidential Information").  You shall not
  disclose such Confidential Information and shall use it only in
  accordance with the terms of the license agreement you entered
  into with Dell Inc.
  
  DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
  THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
  INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
  NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
  DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
  OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:X-quest.com:glue/credential-repository/1.0"
            xmlns:repo1="urn:X-quest.com:glue/credential-repository/1.0"
            elementFormDefault="qualified">

	<!--  Version 1.0 added in 5.5.5.2 (ARCHANGEL) -->

	<xsd:element name="credential-repository">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="credentials" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:group ref="repo1:CredentialTypes" maxOccurs="unbounded"/>
					</xsd:complexType>
					<xsd:unique name="unique.credential.alias">
						<xsd:annotation>
							<xsd:documentation>
								Sets a unique constraint for the 'alias' attribute of the declared credential type
								thus preventing two or more credentials from having the same alias
							</xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="repo1:*"/>
						<xsd:field xpath="@alias"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="policies" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:group ref="repo1:PolicyTypes" maxOccurs="unbounded"/>
					</xsd:complexType>
					<xsd:unique name="unique.policy.alias">
						<xsd:annotation>
							<xsd:documentation>
								Sets a unique constraint for the 'alias' attribute of the declared policy type
								thus preventing two or more policies from having the same alias
							</xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="repo1:*"/>
						<xsd:field xpath="@alias"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="resource-mappings" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="resource-map" type="repo1:ResourceMappingType" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:unique name="unique.resource.alias">
						<xsd:annotation>
							<xsd:documentation>
								Sets a unique constraint for the 'alias' attribute of the declared resource-map
								thus preventing two or more resources from having the same alias
							</xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="repo1:*"/>
						<xsd:field xpath="@alias"/>
					</xsd:unique>
				</xsd:element>
			</xsd:all>

		</xsd:complexType>

		<!-- Match Policy Alias in Credential to declared Policies -->
		<xsd:keyref name="keyRef_credential.policy.alias" refer="repo1:policy.alias">
			<xsd:selector xpath="./repo1:credentials/*/repo1:policy-aliases/repo1:policy-alias"/>
			<xsd:field xpath="@name"/>
		</xsd:keyref>
		<xsd:key name="policy.alias">
			<xsd:selector xpath="./repo1:policies/*"/>
			<xsd:field xpath="@alias"/>
		</xsd:key>
		<!-- Match Resource Alias in Credential to declared Resources -->
		<xsd:keyref name="keyRef_credential.resource.alias" refer="repo1:resource.alias">
			<xsd:selector xpath="./repo1:credentials/*/repo1:resource-aliases/repo1:resource-alias"/>
			<xsd:field xpath="@name"/>
		</xsd:keyref>
		<xsd:key name="resource.alias">
			<xsd:selector xpath="./repo1:resource-mappings/repo1:resource-map"/>
			<xsd:field xpath="@alias"/>
		</xsd:key>
	</xsd:element>

	<xsd:group name="CredentialTypes">
		<xsd:annotation>
			<xsd:documentation>
				List of all supported Credential types
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice xml:base="repo1:AbstractCredentialHarnessType" maxOccurs="unbounded">
				<xsd:element name="generic" type="repo1:GenericCredentialType"/>
				<xsd:element name="login" type="repo1:LoginCredentialType"/>
				<xsd:element name="login-password" type="repo1:LoginPasswordCredentialType"/>
				<xsd:element name="windows" type="repo1:WindowsCredentialType"/>
				<xsd:element name="host-key" type="repo1:HostKeyCredentialType"/>
				<xsd:element name="rsa" type="repo1:RSACredentialType"/>
				<xsd:element name="dsa" type="repo1:DSACredentialType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="PolicyTypes">
		<xsd:annotation>
			<xsd:documentation>
				List of all supported Credential types
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice xml:base="repo1:AbstractCredentialPolicyType">
			<xsd:element name="cache" type="repo1:CachePolicyType"/>
			<xsd:element name="failure-rate" type="repo1:FailureRatePolicyType"/>
			<xsd:element name="use-count" type="repo1:UseCountPolicyType"/>
			<xsd:element name="validity-window" type="repo1:ValidityWindowPolicyType"/>
        </xsd:choice>
	</xsd:group>

	<xsd:complexType name="AbstractCredentialHarnessType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Base credential definition.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="policy-aliases" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="policy-alias" type="repo1:Alias" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique.credential.policy.alias">
					<xsd:annotation>
						<xsd:documentation>
							Sets a unique constraint for the 'alias' attribute of the declared policy aliases
							thus preventing multiple references to the same policy
						</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="repo1:*"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="resource-aliases" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="resource-alias" type="repo1:Alias" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique.credential.resource.alias">
					<xsd:annotation>
						<xsd:documentation>
							Sets a unique constraint for the 'alias' attribute of the declared resource-map aliases
							thus preventing multiple references to the same resource
						</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="repo1:*"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="attributes" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="attribute" type="repo1:AttributeType" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique.credential.attribute.name">
					<xsd:annotation>
						<xsd:documentation>
							Sets a unique constraint for the declared attributes
							thus preventing duplicate attribute entries
						</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="repo1:*"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="alias" use="required" type="xsd:string"/>
		<xsd:attribute name="lockbox-name" type="xsd:string" default="Default"/>
		<xsd:attribute name="purpose" use="required" type="xsd:string"/>
		<xsd:attribute name="isAgentAuthorized" default="false" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AbstractCredentialPolicyType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Policy definitions to apply to a Credential. All policy attributes
				are stored in a map
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="alias" use="required" type="xsd:string"/>
		<xsd:attribute name="critical" type="xsd:boolean" default="false"/>
	</xsd:complexType>

	<xsd:complexType name="ResourceMappingType">
		<xsd:annotation>
			<xsd:documentation>
				Defines a set of mapping resource values that will be assigned to a credential
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="target-hosts" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="target-host" type="repo1:RegExType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="target-ports" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="target-port" type="repo1:RegExType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="target-addresses" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="target-address" type="repo1:RegExType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="source-hosts" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="source-host" type="repo1:RegExType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="source-addresses" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="source-address" type="repo1:RegExType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="properties" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="property" type="repo1:PropertyType"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="unique.resource.property.name">
					<xsd:annotation>
						<xsd:documentation>
							Sets a unique constraint for the declared properties
							thus preventing duplicate property entries
						</xsd:documentation>
					</xsd:annotation>
					<xsd:selector xpath="repo1:*"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="alias" use="required" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="Alias">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="PropertyType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="AttributeType">
		<xsd:complexContent>
			<xsd:extension base="repo1:PropertyType">
				<xsd:attribute name="data-type" type="repo1:AttributeDataType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="AttributeDataType" final="restriction">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="string"/>
			<xsd:enumeration value="int"/>
			<xsd:enumeration value="long"/>
			<xsd:enumeration value="short"/>
			<xsd:enumeration value="float"/>
			<xsd:enumeration value="double"/>
			<xsd:enumeration value="bool"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="RegExType">
		<xsd:attribute name="pattern" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="GenericCredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialHarnessType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LoginCredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialHarnessType">
				<xsd:attribute name="username" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LoginPasswordCredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:LoginCredentialType">
				<xsd:attribute name="password" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="WindowsCredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:LoginPasswordCredentialType">
				<xsd:attribute name="domain" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="HostKeyCredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialHarnessType">
				<xsd:attribute name="algorithm" type="xsd:string" use="required"/>
				<xsd:attribute name="key" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PEMCredentialType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="repo1:LoginCredentialType">
				<xsd:attribute name="pem-file" type="xsd:string" use="required"/>
				<xsd:attribute name="pem-password" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RSACredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:PEMCredentialType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DSACredentialType">
		<xsd:complexContent>
			<xsd:extension base="repo1:PEMCredentialType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Policy Definitions -->
	<xsd:complexType name="CachePolicyType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialPolicyType">
				<xsd:attribute name="time-to-live-millis" type="xsd:long" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FailureRatePolicyType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialPolicyType">
				<xsd:attribute name="max-fail-count" type="xsd:long" use="required"/>
				<xsd:attribute name="period-millis" type="xsd:long" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UseCountPolicyType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialPolicyType">
				<xsd:attribute name="use-count" type="xsd:long" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ValidityWindowPolicyType">
		<xsd:complexContent>
			<xsd:extension base="repo1:AbstractCredentialPolicyType">
				<xsd:attribute name="valid" type="xsd:boolean" use="required"/>
				<xsd:attribute name="start-timestamp" type="xsd:long" use="required"/>
				<xsd:attribute name="end-timestamp" type="xsd:long" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>